<div class="well">
  <h3>Book your visit</h3>
  <form ng-submit="updatePlace()" name="places_form">
    <div class="row">
      <label for="places_name"> City: </label>
      <select name="places_name" form="places_form" ng-model="editPlace.city"  ng-click="getLoctaions()" ng-options="city.name for city in cities" >
      </select>
    </div>

    <div>
      <label for="location_name"> Places to visit in {{editPlace.city.name}} </label>
      <select name="location_name" form="places_form" ng-model="editPlace.location.name" ng-options="location.name for location in locations"></select>
    </div><br/>

    <div class="col-xs-6">
      <input type="text" ng-model="editPlace.time" class="form-control" placeholder="Time to visit" name="time" />
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <br />
        <input type="Submit" value="Update" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>