<div class="well" ng-controller="visitorsController">
  <h3>Update Visitor</h3>
  <form ng-submit="updateVisitor()" name="visitors_form" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" ng-model="editVisitor.first_name" class="form-control" placeholder="First Name" name="first_name" ng-minlength="3" ng-maxlength="9" name-input required />
      </div>
      <span ng-show = "(visitors_form.first_name.$dirty &&  visitors_form.first_name.$invalid)|| visitors_form.$submitted">
        <span ng-show="visitors_form.first_name.$error.required">First name is required.</span>
        <span ng-show="visitors_form.first_name.$error.nameValidator">Numbers are not allowed</span>
      </span>
      <div class="col-xs-6">
        <input type="text" ng-model="editVisitor.last_name" class="form-control" placeholder="Last Name" name="last_name" name-input required />
      </div>
      <span ng-show="(visitors_form.last_name.$dirty &&  visitors_form.last_name.$invalid)|| visitors_form.$submitted">
        <span ng-show="visitors_form.last_name.$error.required">Last name is required.</span>
        <span ng-show="visitors_form.last_name.$error.nameValidator">Numbers are not allowed</span>
      </span>
      <div class="col-xs-6">
        <input type="text" ng-model="editVisitor.address" class="form-control" placeholder="Address" name="address" />
      </div>
      <span ng-show="visitors_form.address.$touched && visitors_form.address.$invalid">
        <span ng-show="visitors_form.address.$error.address">Address is required.</span>
      </span>
      <div class="col-xs-6">
        <input type="number" ng-model="editVisitor.phone_number" class="form-control" placeholder="Phone Number" name="phone_number" number-input required />
      </div>
     <span ng-show="(visitors_form.phone_number.$dirty &&  visitors_form.phone_number.$invalid)|| visitors_form.$submitted">
        <span ng-show="visitors_form.phone_number.$error.required">Phone number is required.</span>
         <span ng-show="visitors_form.phone_number.$error.numberValidator">Please enter a 10 digit number</span>
      </span>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <br />
        <input type="text" ng-model="editVisitor.reason" class="form-control" placeholder="Reason for Visit" name="reason" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <br />
        <input type="Submit" value="Update" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>