<div>
  <input type="submit" ng-click="logout()" value="Log out"/>
  <input type="submit" ng-click="places()" value="Places you my like to visit" />
</div>
<div class="container">
  <h1>Visitors</h1>
  <div>
    <div class="well">
      <h3>Add a new Visitor</h3>
      <form ng-submit="addVisitor()" name="visitors_form" novalidate>
        <div class="row">
          <div class="col-xs-6">
            <input type="text" ng-model="newVisitor.first_name" class="form-control" placeholder="First Name" name="first_name" ng-minlength="3" ng-maxlength="9" name-input required />
          </div>
          <span ng-show = "(visitors_form.first_name.$dirty &&  visitors_form.first_name.$invalid)|| visitors_form.$submitted">
            <span ng-show="visitors_form.first_name.$error.required">First name is required.</span>
            <span ng-show="visitors_form.first_name.$error.nameValidator">Numbers are not allowed</span>
          </span>
          <div class="col-xs-6">
            <input type="text" ng-model="newVisitor.last_name" class="form-control" placeholder="Last Name" name="last_name" name-input required />
          </div>
          <span ng-show="(visitors_form.last_name.$dirty &&  visitors_form.last_name.$invalid)|| visitors_form.$submitted">
            <span ng-show="visitors_form.last_name.$error.required">Last name is required.</span>
            <span ng-show="visitors_form.last_name.$error.nameValidator">Numbers are not allowed</span>
          </span>
          <div class="col-xs-6">
            <input type="text" ng-model="newVisitor.address" class="form-control" placeholder="Address" name="address" />
          </div>
          <span ng-show="visitors_form.address.$touched && visitors_form.address.$invalid">
            <span ng-show="visitors_form.address.$error.address">Address is required.</span>
          </span>
          <div class="col-xs-6">
            <input type="number" ng-model="newVisitor.phone_number" class="form-control" placeholder="Phone Number" name="phone_number" number-input required />
          </div>
         <span ng-show="(visitors_form.phone_number.$dirty &&  visitors_form.phone_number.$invalid)|| visitors_form.$submitted">
            <span ng-show="visitors_form.phone_number.$error.required">Phone number is required.</span>
             <span ng-show="visitors_form.phone_number.$error.numberValidator">Please enter a 10 digit number</span>
          </span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <br />
            <input type="text" ng-model="newVisitor.reason" class="form-control" placeholder="Reason for Visit" name="reason" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <br />
            <input type="Submit" value="Add Visitor" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
    <h3>Currently Visiting</h3>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Reason for Visit</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!visitors.length">
          <td colspan="4">No visitors in the building.</td>
        </tr>
        <tr ng-repeat="visitor in visitors">
          <td>{{ visitor.first_name }}</td>
          <td>{{ visitor.last_name }}</td>
          <td>{{ visitor.phone_number }}</td>
          <td>{{ visitor.address }}</td>
          <td>{{ visitor.reason }}</td>
          <td><a class="btn btn-danger" ng-click="deleteVisitor($index)">Remove</a></td>
          <td><a class="btn btn-danger" ng-click="editVisitor($index)" >Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
