 <div flash-message="10000"></div>
<div class="container">
  <h1>Places</h1>
  <div>
    <div class="well">
      <h3>Book your visit</h3>
      <form ng-submit="addPlace()" name="places_form">
        <div class="row">
          <label for="places_name"> City: </label>
          <select name="places_name" form="places_form" ng-model="places.city" ng-click="getLoctaions()" ng-options="city.name for city in cities">
          </select>
        </div>

        <div>
          <label for="location_name"> Places to visit in {{places.city.name}} </label>
          <select name="location_name" form="places_form" ng-model="places.location" ng-options="location.name for location in locations"></select>
        </div><br/>

        <div class="col-xs-6">
          <input type="text" ng-model="places.time" class="form-control" placeholder="Time to visit" name="time" />
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <br />
            <input type="Submit" value="Submit" class="btn btn-primary" />
          </div>
        </div>

      </form>
    </div>
    <div ng-init = 'get_places()'></div>
    <h3>Places you want to visit</h3>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>City</th>
          <th>Location</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!user_places.length">
          <td colspan="4">No places to visit.</td>
        </tr>
        <tr ng-repeat="place in user_places">
          <td>{{ place.city.name }}</td>
          <td>{{ place.location.name }}</td>
          <td>{{ place.time }}</td>
          <td><a class="btn btn-danger" ng-click="deletePlace($index)">Remove</a></td>
          <td><a class="btn btn-danger" ui-sref="edit_place({place_id: place.id.$oid})" >Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>