<!DOCTYPE html>
<html ng-app="Demo">
<head>
  <title>AuthDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- We use client cookies to save the user credentials -->
<script src="//cdn.auth0.com/w2/auth0-6.7.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/lodash/2.1.0/lodash.compat.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="LoginCtrl">
	<div ui-view>
	</div>
</body>
</html>
